name: Apply Minder Profiles on Update
on:
  push:
    branches:
    - main
    paths:
    - minder/**
  # Allow to run manually if needed.
  workflow_dispatch:

permissions:
  # id-token: write is needed to fetch a GitHub Actions token for other services
  id-token: write
  # contents: read is needed to checkout the current repo
  contents: read

jobs:
  minder-config:
    runs-on: ubuntu-latest
    steps:
    # TODO: enable pinning.
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Apply Minder Config
      uses: custcodian/minder-action
      with:
        project: vinayada1
        # Apply all the policies in the minder directory, which should be synced
        # from other sources by the `custcodian-sync.yaml` workflow.
        directory: ./minder
